{% extends 'dashboard/head.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="d-flex align-items-baseline justify-content-between">
        <!-- Title -->
        <h1 class="h2">
            Applicants
        </h1>
    </div>

    <div class="row">
        <div class="col">
            <!-- Card -->
            <div class="card border-0 flex-fill w-100" id="applicantsTable">
                <div class="card-header border-0">
                    <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between">
                        <!-- Title -->
                        <h2 class="card-header-title h4 text-uppercase">
                            Applicants
                        </h2>

                        <!-- Add New Button -->
                        <a href="{% url 'vehicle_details' %}" class="btn btn-primary">
                            Add New
                        </a>
                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table align-middle table-hover table-nowrap mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>Loan ID</th>
                                <th>Customer</th>
                                <th>Loan Type</th>
                                <th style="text-align: center;">Mobile</th>
                                <th>Employee (only for manager)</th>
                                <th>Status</th>
                                <th class="text-end">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vehicle in vehicle_data %}
                            <tr>
                                <td>{{ vehicle.id }}</td>
                                <td>
                                    {% for i in vehicle.PersonalDetails.all %}
                                    {{ i.applicant_name }}
                                    {% endfor %}
                                </td>
                                <td>{{ vehicle.loan_type }}</td>
                                <td>93340121915</td>
                                <td>Yogesh</td>
                                <td>
                                    {{ vehicle.status }}
                                    {% if vehicle.Disbursement.all %}
                                    {% for i in vehicle.Disbursement.all %}
                                    {% if i.status == 1 %}
                                    <span class="badge text-warning rounded-pill">In-process</span>
                                    {% elif i.status == 0 %}
                                    <span class="badge text-success rounded-pill">Approved</span>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <span class="badge text-info rounded-pill">Unfinished</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- Dropdown -->
                                    <div class="dropdown float-end">
                                        <a href="javascript:void(0);" class="dropdown-toggle no-arrow d-flex text-secondary" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="14" width="14">
                                                <g>
                                                    <circle cx="12" cy="3.25" r="3.25" style="fill: currentColor" />
                                                    <circle cx="12" cy="12" r="3.25" style="fill: currentColor" />
                                                    <circle cx="12" cy="20.75" r="3.25" style="fill: currentColor" />
                                                </g>
                                            </svg>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for i in vehicle.Disbursement.all %}
                                            {% if i.status == 1 %}
                                            {% if user.user_role != "agent" %}
                                            <li>
                                                <a class="dropdown-item text-success-soft" href="{% url 'approve' i.id %}">
                                                    Approve
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% else %}
                                            <li>
                                                <a class="dropdown-item" href="{% url 'generate_loan_details_docx' vehicle.id %}">
                                                    Download
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                            <li>
                                                <a class="dropdown-item" href="{% url 'edit_vehicle' vehicle.id %}">
                                                    Details
                                                </a>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li>
                                                <a class="dropdown-item text-danger" href="#">
                                                    Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <!-- Pagination -->
                    <ul class="pagination justify-content-end list-pagination mb-0"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
