
{% extends 'dashboard/head.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


 <div class="container-fluid">

                <div class="d-flex align-items-baseline justify-content-between">

                    <!-- Title -->
                    <h1 class="h2">
                        Vehicle Details
                    </h1>

                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Vehicle Details</li>
                        </ol>
                    </nav>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-12 col-xl-12 col-xxl-12">

                            <ul class="nav nav-pills steps mb-7 mt-n3 w-75 w-xxl-50 mx-auto" id="wizard-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="wizardTabOne" data-bs-toggle="pill" data-bs-target="#wizardStepOne" type="button" role="tab" aria-controls="wizardStepOne" aria-selected="true">
                                        1
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="wizardTabTwo" data-bs-toggle="pill" data-bs-target="#wizardStepTwo" type="button" role="tab" aria-controls="wizardStepTwo" aria-selected="false">
                                        2
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="wizardTabThree" data-bs-toggle="pill" data-bs-target="#wizardStepThree" type="button" role="tab" aria-controls="wizardStepThree" aria-selected="false">
                                        3
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="wizardTabFour" data-bs-toggle="pill" data-bs-target="#wizardStepFour" type="button" role="tab" aria-controls="wizardStepThree" aria-selected="false">
                                       4 
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="wizardTabFive" data-bs-toggle="pill" data-bs-target="#wizardStepFive" type="button" role="tab" aria-controls="wizardStepThree" aria-selected="false">
                                        5
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="wizardTabSix" data-bs-toggle="pill" data-bs-target="#wizardStepSix" type="button" role="tab" aria-controls="wizardStepSix" aria-selected="false">
                                        6
                                    </button>
                                </li>
                            </ul>

                            <div class="tab-content" id="wizard-tabContent">

                                <div class="tab-pane fade show active" id="wizardStepOne" role="tabpanel" aria-labelledby="wizardTabOne">
                                    
                                    <!-- Card -->
                                    <div class="card border-0 py-2 px-md-12">
                                     <form method="post">
                                        {% csrf_token %}
                                        <div class="card-body">
                                          
                                            <h2 class="text-center mb-1">VehicleDetails</h2>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md" style="display: none;">
                                                        <label for="projectName" class="form-label">vehicle_type</label>
                                                        {% render_field form.loan_type class="form-control" value=loan_type placeholder="vehicle_type" required="true" %}
                                                        <p>{{vehicle_type}}</p>
                                                        <div class="invalid-feedback">Please add your project name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="owner" class="form-label">Vehicle Name</label>
                                                         {% render_field form.vehicle_name class="form-control" type="text" placeholder="Vehicle Name" required="true" %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>
                                                </div>  
                                            </div>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="projectName" class="form-label">Vehicle Model</label>
                                                       {% render_field form.vehicle_model class="form-control" placeholder="Vehicle Model" required="true" %}
                                                        <div class="invalid-feedback">Please add your project name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="owner" class="form-label">Vehicle Number</label>
                                                        {% render_field form.vehicle_number class="form-control" placeholder="Vehicle Number" required="true" %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>
                                                </div>
                                            </div>

                                            

                                          
                                        </div>

                                        <div class="card-footer">
                                            <div class="d-flex justify-content-between">

                                                <!-- Button -->
                                                <a type="button" href="#" class="btn btn-light">Loan Application List</a>

                                                <!-- Button -->
                                                <button type="submit" class="btn btn-primary">Next</button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>

                                 <div class="tab-pane fade" id="wizardStepTwo" role="tabpanel" aria-labelledby="wizardTabTwo">
                                    
                                    <!-- Card -->
                                    
                                    <div class="card border-0 py-6 px-md-6">
                                      <form method="post">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <h2 class="text-center mb-0">PersonalDetails</h2>
                                            <p class="text-secondary text-center">Just some details about the team</p>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">title</label>
                                                        {% render_field form.title class="form-control" placeholder="title" %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="teamLeaderEmail" class="form-label">applicant_name</label>
                                                        {% render_field form.applicant_name class="form-control" placeholder="applicant_name" %}
                                                        {% comment %} <input type="email" class="form-control" id="teamLeaderEmail" placeholder="Team leader's email address"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add an email address</div>
                                                    </div>
                                                </div> <!-- / .row -->
                                            </div>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">father_name</label>
                                                        {% render_field form.father_name class="form-control" placeholder="father_name" %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="teamLeaderEmail" class="form-label">mother_name</label>
                                                        {% render_field form.mother_name class="form-control" placeholder="mother_name" %}
                                                        {% comment %} <input type="email" class="form-control" id="teamLeaderEmail" placeholder="Team leader's email address"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add an email address</div>
                                                    </div>
                                                </div> <!-- / .row -->
                                            </div>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">applicant_email</label>
                                                        {% render_field form.applicant_email class="form-control" placeholder="applicant_email" %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="teamLeaderEmail" class="form-label">contact</label>
                                                        {% render_field form.contact class="form-control" placeholder="contact" %}
                                                        {% comment %} <input type="email" class="form-control" id="teamLeaderEmail" placeholder="Team leader's email address"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add an email address</div>
                                                    </div>
                                                </div> <!-- / .row -->
                                            </div>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">address</label>
                                                        {% render_field form.address class="form-control" placeholder="address" %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="teamLeaderEmail" class="form-label">city</label>
                                                        {% render_field form.city class="form-control" placeholder="city" %}
                                                        {% comment %} <input type="email" class="form-control" id="teamLeaderEmail" placeholder="Team leader's email address"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add an email address</div>
                                                    </div>
                                                </div> <!-- / .row -->
                                            </div>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">state</label>
                                                        {% render_field form.state class="form-control" placeholder="state" %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="teamLeaderEmail" class="form-label">county</label>
                                                        {% render_field form.county class="form-control" placeholder="county" %}
                                                        {% comment %} <input type="email" class="form-control" id="teamLeaderEmail" placeholder="Team leader's email address"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add an email address</div>
                                                    </div>
                                                </div> <!-- / .row -->
                                            </div>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">pincode</label>
                                                        {% render_field form.pincode class="form-control" placeholder="pincode" %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                  
                                                </div> <!-- / .row -->
                                            </div>

                                            

                                            
                                        </div>

                                        <div class="card-footer">
                                            <div class="d-flex justify-content-between">

                                                <!-- Button -->
                                                {% comment %} <a class="btn btn-light" data-toggle="wizard" href="#wizardStepOne">Previous</a> {% endcomment %}

                                                <!-- Button -->
                                               <button type="submit" class="btn btn-primary">Next</button>
                                            </div>
                                        </div>
                                     </form>
                                    </div>
                                    
                                </div>

                               <div class="tab-pane fade" id="wizardStepThree" role="tabpanel" aria-labelledby="wizardTabThree">
                                    
                                    <!-- Card -->
                                   
                                    <div class="card border-0 py-6 px-md-6">
                                     <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <h2 class="text-center mb-0">OccupationDetails</h2>
                                            <p class="text-secondary text-center">Set up notifications and alers frequency</p>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="recipientEmail" class="form-label">Image</label>
                                                         {% render_field form.image class="form-control" placeholder="Your full name" %}
                                                         
                                                        {% comment %} <input type="email" class="form-control" id="recipientEmail" placeholder="email@domain.com" required> {% endcomment %}
                                                        <div class="invalid-feedback">Please add an email address</div>
                                                    </div>

                                                   
                                                </div> <!-- / .row -->
                                            </div>

                                            

                                           

                                           
                                        </div>

                                        <div class="card-footer">
                                            <div class="d-flex justify-content-between">

                                                <!-- Button -->
                                                <a class="btn btn-light" data-toggle="wizard" href="#wizardStepTwo">Previous</a>

                                                <!-- Button -->
                                                <button type="submit" class="btn btn-primary">submit</button>
                                            </div>
                                        </div>
                                     </form>
                                    </div>
                                    <form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  
  {{ form.as_p }}
  
  <input type="submit" name="submit" value="Submit">
  
  <a href="{% url 'occupation_details' %}" class="btn btn-secondary">Back to Occupation Details</a>
</form>
                                    {% comment %} </form> {% endcomment %}
                                </div>

                              
                            </div>
                        {% comment %} </form> {% endcomment %}
                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .container-fluid -->

            <script>
                var steps = "{{wizard.steps.step1}}";
                if(steps == 1 ){
                    var e = document.getElementById('wizardTabOne');
                    e.classList.add("active");
        
                    e = document.getElementById('wizardStepOne');
                    e.classList.add("active");
                    e.classList.add("show");
                }
                if(steps == 2 ){
                    var e = document.getElementById('wizardTabOne');
                    e.classList.remove("active");
        
                    e = document.getElementById('wizardTabTwo');
                    e.classList.add("active");
        
                    var f = document.getElementById('wizardStepTwo');
                    f.classList.add("active");
                    f.classList.add("show");
                }
                if(steps == 3 ){
                    const e = document.getElementById('wizardTabThree');
                    e.classList.add("active");
        
                    const f = document.getElementById('wizardStepThree');
                    f.classList.add("active");
                    f.classList.add("show");
                }
        </script>
        
            {% endblock %}
