
{% extends 'dashboard/head.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<style>
    #wizard-tab{
        pointer-events: none;
    }
</style>

 <div class="container-fluid">

                <div class="d-flex align-items-baseline justify-content-between">

                    <!-- Title -->
                    <h1 class="h2">
                        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                    </h1>

                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Wizard</li>
                        </ol>
                    </nav>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-12 col-xl-12 col-xxl-12">

                    <form class="needs-validation" method="post"  >
                            {% csrf_token %}
                            {{ wizard.management_form }}

                            <ul class="nav nav-pills steps mb-7 mt-n3 w-75 w-xxl-50 mx-auto" id="wizard-tab" role="tablist">

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active"  id="wizardTabOne" data-bs-toggle="pill" data-bs-target="#wizardStepOne" type="button" role="tab" aria-controls="wizardStepOne" aria-selected="true">
                                        1
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="wizardTabTwo" data-bs-toggle="pill" data-bs-target="#wizardStepTwo" type="button" role="tab" aria-controls="wizardStepTwo"  aria-selected={% if wizard.steps.step2 == 2 %} "true"   {% else %} "false" {% endif %}>
                                        2
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="wizardTabThree" data-bs-toggle="pill" data-bs-target="#wizardStepThree" type="button" role="tab" aria-controls="wizardStepThree" aria-selected="false">
                                        3
                                    </button>
                                </li> 
                            </ul>

                            <div class="tab-content" id="wizard-tabContent">

                                <div class="tab-pane fade" id="wizardStepOne" role="tabpanel" aria-labelledby="wizardTabOne">
                                    
                                    <!-- Card -->
                                    <div class="card border-0 py-6 px-md-12">
                                        <div class="card-body">


                                            <h2 class="text-center mb-0">Vehicle Details</h2>
                                            <p class="text-secondary text-center">       </p>
                                          
                                              
                                           
                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="projectName" class="form-label">Vehicle Type</label>
                                                         {% render_field form.vehicle_type class="form-control" value= placeholder="Your your vehicle name"%}
                                                        {% comment %} {% render_field wizard.form.vehicle_type class="form-control" placeholder="Your your vehicle name" %} {% endcomment %}
                                                        {% comment %} <input type="text" class="form-control" id="projectName" placeholder="Your project name" required> {% endcomment %}
                                                        <div class="invalid-feedback">Please add your project name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="owner" class="form-label">Vehicle Name</label>
                                                         {% render_field form.vehicle_name class="form-control" placeholder="Your your vehicle name" %}
                                                        {% comment %} {% render_field wizard.form.vehicle_name class="form-control" placeholder="Your your vehicle name" %} {% endcomment %}
                                                        {% comment %} <input type="text" class="form-control" id="owner" placeholder="Owner's name" required> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>
                                                </div> <!-- / .row -->
                                            </div>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="url" class="form-label">Vehicle Model</label>
                                                        <div class="input-group">
                                                            {% render_field form.vehicle_model class="form-control"  placeholder="Your your vehicle Model"  %}
                                                            {% comment %} {% render_field wizard.form.vehicle_model class="form-control" placeholder="Your your vehicle Model" %} {% endcomment %}
                                                            
                                                        </div>
                                                        <div class="invalid-feedback">Please add a url address</div>
                                                    </div>


                                                    <div class="col-md">
                                                        <label for="url" class="form-label">Vehicle Number</label>
                                                        <div class="input-group">
                                                             {% render_field form.vehicle_number class="form-control" placeholder="Your your vehicle number" %}
                                                            {% comment %} {% render_field wizard.form.vehicle_number class="form-control" placeholder="Your your vehicle name" %} {% endcomment %}
                                                            
                                                        </div>
                                                        <div class="invalid-feedback">Please add a url address</div>
                                                    </div>

                                                   
                                                </div> <!-- / .row -->
                                            </div>
                                        </div>

                                        
                                    </div>
                                </div>
                            

                                <div class="tab-pane fade" id="wizardStepTwo" role="tabpanel" aria-labelledby="wizardTabTwo">
                                    
                                    <!-- Card -->
                                    <div class="card border-0 py-6 px-md-6">
                                        <div class="card-body">
                                            <h2 class="text-center mb-0">Personal Details</h2>
                                            <p class="text-secondary text-center">   </p>
                                         

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">Title</label>
                                                         {% render_field form.title class="form-control" placeholder="Your your Title" %}
                                                        {% comment %} {% render_field wizard.form.title class="form-control" placeholder="Your your name" %} {% endcomment %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="teamLeaderEmail" class="form-label">Applicant Name</label>
                                                        {% render_field form.applicant_name class="form-control" placeholder="Your your applicant name" %}
                                                        {% comment %} {% render_field wizard.form.applicant_name class="form-control" placeholder="Your your applicant name" %} {% endcomment %}
                                                        {% comment %} <input type="email" class="form-control" id="teamLeaderEmail" placeholder="Team leader's email address"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add an email address</div>
                                                    </div>
                                                </div> <!-- / .row -->
                                            </div>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">Father Name</label>
                                                          {% render_field form.father_name class="form-control"  %}
                                                        {% comment %} {% render_field wizard.form.title class="form-control" placeholder="Your your name" %} {% endcomment %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="teamLeaderEmail" class="form-label">Mother Name</label>
                                                        {% render_field form.mother_name class="form-control" %}
                                                        {% comment %} {% render_field form.applicant_name class="form-control" placeholder="Your your applicant name" %} {% endcomment %}
                                                        {% comment %} {% render_field wizard.form.applicant_name class="form-control" placeholder="Your your applicant name" %} {% endcomment %}
                                                        {% comment %} <input type="email" class="form-control" id="teamLeaderEmail" placeholder="Team leader's email address"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add an email address</div>
                                                    </div>
                                                </div> <!-- / .row -->
                                            </div>
                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">Applicant Email</label>
                                                        {% render_field form.applicant_email class="form-control" %}
                                                         {% comment %} {% render_field form.title class="form-control" placeholder="Your your Title" %} {% endcomment %}
                                                        {% comment %} {% render_field wizard.form.title class="form-control" placeholder="Your your name" %} {% endcomment %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="teamLeaderEmail" class="form-label">Phone Number</label>
                                                        {% render_field form.contact class="form-control" %}
                                                        {% comment %} {% render_field form.applicant_name class="form-control" placeholder="Your your applicant name" %} {% endcomment %}
                                                        {% comment %} {% render_field wizard.form.applicant_name class="form-control" placeholder="Your your applicant name" %} {% endcomment %}
                                                        {% comment %} <input type="email" class="form-control" id="teamLeaderEmail" placeholder="Team leader's email address"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add an email address</div>
                                                    </div>
                                                </div> <!-- / .row -->
                                            </div>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">Address</label>
                                                        {% render_field form.address class="form-control" %}
                                                         {% comment %} {% render_field form.title class="form-control" placeholder="Your your Title" %} {% endcomment %}
                                                        {% comment %} {% render_field wizard.form.title class="form-control" placeholder="Your your name" %} {% endcomment %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="teamLeaderEmail" class="form-label">City</label>
                                                        {% render_field form.city class="form-control" %}
                                                        {% comment %} {% render_field form.contact class="form-control" %} {% endcomment %}
                                                        {% comment %} {% render_field form.applicant_name class="form-control" placeholder="Your your applicant name" %} {% endcomment %}
                                                        {% comment %} {% render_field wizard.form.applicant_name class="form-control" placeholder="Your your applicant name" %} {% endcomment %}
                                                        {% comment %} <input type="email" class="form-control" id="teamLeaderEmail" placeholder="Team leader's email address"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add an email address</div>
                                                    </div>
                                                </div> <!-- / .row -->
                                            </div>

                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">State</label>
                                                         {% render_field form.state class="form-control" %}
                                                        {% comment %} {% render_field form.applicant_email class="form-control" %} {% endcomment %}
                                                         {% comment %} {% render_field form.title class="form-control" placeholder="Your your Title" %} {% endcomment %}
                                                        {% comment %} {% render_field wizard.form.title class="form-control" placeholder="Your your name" %} {% endcomment %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                    <div class="col-md">
                                                        <label for="teamLeaderEmail" class="form-label">County</label>
                                                        {% render_field form.county class="form-control" %}
                                                        {% comment %} {% render_field form.contact class="form-control" %} {% endcomment %}
                                                        {% comment %} {% render_field form.applicant_name class="form-control" placeholder="Your your applicant name" %} {% endcomment %}
                                                        {% comment %} {% render_field wizard.form.applicant_name class="form-control" placeholder="Your your applicant name" %} {% endcomment %}
                                                        {% comment %} <input type="email" class="form-control" id="teamLeaderEmail" placeholder="Team leader's email address"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add an email address</div>
                                                    </div>
                                                </div> <!-- / .row -->
                                            </div>

                                             <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md">
                                                        <label for="teamLeader" class="form-label">Pincode</label>
                                                          {% render_field form.pincode class="form-control" %}
                                                        {% comment %} {% render_field form.applicant_email class="form-control" %} {% endcomment %}
                                                         {% comment %} {% render_field form.title class="form-control" placeholder="Your your Title" %} {% endcomment %}
                                                        {% comment %} {% render_field wizard.form.title class="form-control" placeholder="Your your name" %} {% endcomment %}
                                                        {% comment %} <input type="text" class="form-control" id="teamLeader" placeholder="Team leader's name"> {% endcomment %}
                                                        <div class="invalid-feedback">Please add a name</div>
                                                    </div>

                                                   
                                                </div> <!-- / .row -->
                                            </div>

                                           

                                           
                                         </div>

                                        
                                    </div>
                                </form>
                                </div>
                                <div class="card-footer">
                                            <div class="d-flex justify-content-between">

                                                <!-- Button -->
                                                {% comment %} <button type="button" class="btn btn-light">Cancel</button> {% endcomment %}

                                                <!-- Button -->
                                                {% comment %} {% if wizard.steps.prev %}
                                                
                                                    <button name="wizard_goto_step" type="submit" data-toggle="wizard" class="btn btn-primary ms-md-4"  value="{{ wizard.steps.first }}">First Step</button>
                                                    <button name="wizard_goto_step" type="submit" data-toggle="wizard" class="btn btn-primary ms-md-4" value="{{ wizard.steps.prev }}">Previous Step</button>
                                                {% endif %} {% endcomment %}

                                                {% comment %} <input class="btn btn-primary ms-md-4" type="submit" value="submit"/> {% endcomment %}

                                                {% if wizard.steps.prev %}
                                                            <button name="wizard_goto_step" class="btn btn-primary ms-md-4" type="submit" value="{{ wizard.steps.first }}"> first step</button>
                                                            <button name="wizard_goto_step" class="btn btn-primary ms-md-4" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
                                                            {% endif %}
                                                <input type="submit" class="btn btn-primary ms-md-4" value="submit"/>

                                                 {% comment %} <button name="wizard_goto_step" type="submit" data-toggle="wizard" class="btn btn-primary ms-md-4" value="submit">Submit</button> {% endcomment %}
                                                {% comment %} <a class="btn btn-primary ms-md-4" data-toggle="wizard" href="#wizardStepTwo">Next</a> {% endcomment %}
                                            </div>
                                        </div>


                            </div>
                            

                    </form>
                    
                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .container-fluid -->      
       <script>
        var steps = "{{wizard.steps.step1}}";
        if(steps == 1 ){
            var e = document.getElementById('wizardTabOne');
            e.classList.add("active");

            e = document.getElementById('wizardStepOne');
            e.classList.add("active");
            e.classList.add("show");
        }
        if(steps == 2 ){
            var e = document.getElementById('wizardTabOne');
            e.classList.remove("active");

            e = document.getElementById('wizardTabTwo');
            e.classList.add("active");

            var f = document.getElementById('wizardStepTwo');
            f.classList.add("active");
            f.classList.add("show");
        }
        if(steps == 3 ){
            const e = document.getElementById('wizardTabThree');
            e.classList.add("active");

            const f = document.getElementById('wizardStepThree');
            f.classList.add("active");
            f.classList.add("show");
        }
</script>
            {% endblock %}