{% load static %}

<html>
<head></head>
<body>
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

  <form  method="post" action="{% url 'my_wizard_view' %}">
    {% csrf_token %}
    
<table>
{{ wizard.management_form }}
{% comment %} {% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form.as_table }}
    {% endfor %}
{% else %} {% endcomment %}
    {{ wizard.form }}
{% comment %} {% endif %} {% endcomment %}
</table>
{% if wizard.steps.prev %}
{% comment %} <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">first step</button> {% endcomment %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
{% endif %}
<input type="submit" value="submit"/>
</form>
</body>
</html>
