{% extends 'dashboard/head.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <!-- Title -->
    <h1 class="h2">
        Dashboard
    </h1>

    <div class="row">

        <div class="col-md-7">
            <div class="row">
                <div class="col-md-6">
                    <!-- Card -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Title -->
                            <h5 class="text-uppercase text-muted fw-semibold mb-2">
                                Total Loan Amt
                            </h5>

                            <!-- Subtitle -->
                            <h2 class="mb-0">
                                Rs 7,00,000
                            </h2>

                            <!-- Comment -->
                            <p class="fs-6 text-muted mb-0 text-truncate">
                                <!-- Badge -->
                                <span class="badge text-bg-success-soft fs-6 fw-bold mb-n1">
                                    <svg viewBox="0 0 24 24" height="10" width="10"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.25 12.75L23.25 6 16.5 6" fill="none"
                                            stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="1.5" />
                                        <path
                                            d="M23.25,6l-7.939,7.939a1.5,1.5,0,0,1-2.122,0l-3.128-3.128a1.5,1.5,0,0,0-2.122,0L.75,18"
                                            fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="1.5" />
                                    </svg>
                                    12%
                                </span>
                                from $65,934
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Card -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Title -->
                            <h5 class="text-uppercase text-muted fw-semibold mb-2 d-flex align-items-center">
                                Total disbursment Amt

                                <!-- Icon -->
                                <a href="javascript:void(0);" class="ms-2 text-secondary"
                                    data-bs-toggle="tooltip"
                                    title="Pageviews is a metric defined as the total number of pages viewed.">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        height="14" width="14">
                                        <path
                                            d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0Zm.25,5a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,12.25,5ZM14.5,18.5h-4a1,1,0,0,1,0-2h.75a.25.25,0,0,0,.25-.25v-4.5a.25.25,0,0,0-.25-.25H10.5a1,1,0,0,1,0-2h1a2,2,0,0,1,2,2v4.75a.25.25,0,0,0,.25.25h.75a1,1,0,0,1,0,2Z"
                                            style="fill: currentColor" />
                                    </svg>
                                </a>
                            </h5>

                            <!-- Subtitle -->
                            <h2 class="mb-0">
                                Rs 1,23,598
                            </h2>

                            <!-- Comment -->
                            <p class="fs-6 text-muted mb-0">
                                <!-- Badge -->
                                <span class="badge text-bg-danger-soft fs-6 fw-bold mb-n1">
                                    <svg viewBox="0 0 24 24" height="10" width="10"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.25 11.25L23.25 18 16.5 18" fill="none"
                                            stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="1.5" />
                                        <path
                                            d="M23.25,18l-7.939-7.939a1.5,1.5,0,0,0-2.122,0l-3.128,3.128a1.5,1.5,0,0,1-2.122,0L.75,6"
                                            fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="1.5" />
                                    </svg>
                                    9.2%
                                </span>
                                from 134,969
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="row">
                <div class="col-md-6">
                    <!-- Card -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Title -->
                            <h5 class="d-flex align-items-center text-uppercase text-muted fw-semibold mb-2">
                                <span class="legend-circle-sm bg-success"></span>
                                Total Employee
                            </h5>

                            <!-- Subtitle -->
                            <h2 class="mb-0">
                                {{ agent_count }}
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Card -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Title -->
                            <h5 class="d-flex align-items-center text-uppercase text-muted fw-semibold mb-2">
                                <span class="legend-circle-sm bg-danger"></span>
                                Total Contacts
                            </h5>

                            <!-- Subtitle -->
                            <h2 class="mb-0">
                                {{ contact_count }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="d-flex align-items-baseline justify-content-between">
        
        <!-- Title -->
        <h1 class="h2">
            Applicants
        </h1>

        <!-- Breadcrumb -->
        {% comment %} <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">API Keys</li>
            </ol>
        </nav> {% endcomment %}
    </div>

    {% comment %} <div class="alert text-bg-info-soft d-flex align-items-center mb-6" role="alert">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="32" width="32" class="me-3"><path d="M23.39,10.53,13.46.6a2.07,2.07,0,0,0-2.92,0L.61,10.54a2.06,2.06,0,0,0,0,2.92h0l9.93,9.92A2,2,0,0,0,12,24a2.07,2.07,0,0,0,1.47-.61l9.92-9.92A2.08,2.08,0,0,0,23.39,10.53ZM11,6.42a1,1,0,0,1,2,0v6a1,1,0,1,1-2,0Zm1.05,11.51h0a1.54,1.54,0,0,1-1.52-1.47A1.47,1.47,0,0,1,12,14.93h0A1.53,1.53,0,0,1,13.5,16.4,1.48,1.48,0,0,1,12.05,17.93Z" style="fill: currentColor"/></svg>                                              
        </div>
        <p class="mb-0">A private key <strong>should not be shared</strong> with anyone. Do not embed API keys directly in code. Do not store API keys in files inside your application's source tree. If you store API keys in files, keep the files outside your application's source tree to help ensure your keys do not end up in your source code control system. Delete unneeded API keys.</p>       
    </div> {% endcomment %}

    <div class="row">
        <div class="col d-flex">

            <!-- Card -->
            <div class="card border-0 flex-fill w-100" data-list='{"valueNames": ["name", {"name": "key", "attr": "data-key"}, {"name": "status", "attr": "data-status"}, {"name": "created", "attr": "data-created"}], "page": 10}' id="keysTable">
                <div class="card-header border-0">

                    <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-end">

                        <!-- Title -->
                        <h2 class="card-header-title h4 text-uppercase">
                            Applicants
                        </h2>

                        {% comment %} <input class="form-control list-fuzzy-search mw-md-300px ms-md-auto mt-5 mt-md-0 mb-3 mb-md-0" type="search" placeholder="Search in keys"> {% endcomment %}

                        <!-- Button -->
                        {% comment %} <button type="button" class="btn btn-primary ms-md-4" data-bs-toggle="modal" data-bs-target="#createKeyModal">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="14" width="14" class="me-1"><path d="M0,12a1.5,1.5,0,0,0,1.5,1.5h8.75a.25.25,0,0,1,.25.25V22.5a1.5,1.5,0,0,0,3,0V13.75a.25.25,0,0,1,.25-.25H22.5a1.5,1.5,0,0,0,0-3H13.75a.25.25,0,0,1-.25-.25V1.5a1.5,1.5,0,0,0-3,0v8.75a.25.25,0,0,1-.25.25H1.5A1.5,1.5,0,0,0,0,12Z" style="fill: currentColor"/></svg>
                            Create key
                        </button> {% endcomment %}
                        {% comment %} <button class="btn btn-primary ms-md-4" href="{% url 'gold_details' %}?type=Gold_Loan" >Add New </button> {% endcomment %}
                        <!-- <a href="{% url 'vehicle_details' %}" class="btn btn-primary ms-md-4" role="button" aria-pressed="true">Add New</a> -->
                        {% comment %} <a href="{% url 'vehicle_details' %}" >Add New </a> {% endcomment %}
                    </div>
                    
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table align-middle table-hover table-nowrap mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    <a href="javascript: void(0);" class="text-muted list-sort" data-sort="loan_id">
                                        Loan ID
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript: void(0);" class="text-muted list-sort" data-sort="name">
                                        Customer
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript: void(0);" class="text-muted list-sort" data-sort="name">
                                        Loan Type
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript: void(0);" class="text-muted " style="text-align:center;">
                                        Mobile 
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript: void(0);" class="text-muted list-sort" data-sort="name">
                                        Employee (only for manager)
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript: void(0);" class="text-muted list-sort" data-sort="created">
                                        Status
                                    </a>
                                </th>
                                <th class="text-end">Actions</th>
                            </tr>
                        </thead>

                        <tbody class="list">
                            
                            {% for vehicle in vehicle_data %}
                            <tr>
                                <td class="name">{{vehicle.id}}</td> 
                                {% for i in vehicle.PersonalDetails.all %}
                                <td class="name">{{i.applicant_name}}</td> 
                                {% endfor %}
                                <td class="name">{{vehicle.loan_type}}</td> 
                                <td class="name">{{vehicle.loan_type}}</td> 
                                <td class="name">{{vehicle.loan_type}}</td> 
                                
                                
                                <td class="created" data-created="1646179200">{{vehicle.status}}
                                    {% if vehicle.Disbursement.all %}
                                    {% for i in vehicle.Disbursement.all %}
                                    {% if  i.status == 1 %}
                                    <span class="badge text-bg-warning rounded-pill">In-process<span>
                                        {% elif i.status == 2 %}
                                    <span class="badge text-bg-success rounded-pill">Approved<span>
                                        {% endif %}
                                        {% endfor %}

                                {% else %}
                                    <span class="badge text-bg-info rounded-pill">Unfnished<span>
                                

                                </td>{% endif %} 
                                
                                
                                  

                                <td>
                                    <!-- Dropdown -->
                                    <div class="dropdown float-end">
                                        <a href="javascript: void(0);" class="dropdown-toggle no-arrow d-flex text-secondary" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="14" width="14"><g><circle cx="12" cy="3.25" r="3.25" style="fill: currentColor"/><circle cx="12" cy="12" r="3.25" style="fill: currentColor"/><circle cx="12" cy="20.75" r="3.25" style="fill: currentColor"/></g></svg>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="{% url 'edit_vehicle' vehicle.id %}">
                                                    Details
                                                </a>
                                            </li>
                                          
                                            <li>
                                                <a class="dropdown-item" href="{% url 'generate_loan_details_docx' vehicle.id %}">
                                                    Download
                                                </a>
                                            </li>
                                          
                                            <li><hr class="dropdown-divider"></li>
                                            <li>
                                                <a class="dropdown-item text-danger" href="#"> 
                                                    Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div> <!-- / .table-responsive -->

                <div class="card-footer">
                    <!-- Pagination -->
                    <ul class="pagination justify-content-end list-pagination mb-0"></ul>
                </div>
            </div>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container-fluid -->

{% endblock %}
