{% extends 'dashboard/head.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<div class="container-fluid">

    <div class="d-flex align-items-baseline justify-content-between">

        <!-- Title -->
        <h1 class="h2">
            Pattern Sourcing
        </h1>

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Pattern Sourcing</li>
            </ol>
        </nav>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12 col-xl-12 col-xxl-12">

            {% comment %} <form class="needs-validation" novalidate> {% endcomment %}
                <ul class="nav nav-pills steps mb-7 mt-n3 w-75 w-xxl-50 mx-auto" id="wizard-tab" role="tablist">
                    <li class="nav-item visited" role="presentation">
                        <button class="nav-link " id="wizardTabOne" data-bs-toggle="pill"
                            data-bs-target="#wizardStepOne" type="button" role="tab" aria-controls="wizardStepOne"
                            aria-selected="true">
                            1
                        </button>
                    </li>
                    <li class="nav-item visited" role="presentation">
                        <button class="nav-link" id="wizardTabTwo" data-bs-toggle="pill" data-bs-target="#wizardStepTwo"
                            type="button" role="tab" aria-controls="wizardStepTwo" aria-selected="false">
                            2
                        </button>
                    </li>
                    <li class="nav-item visited" role="presentation">
                        <button class="nav-link" id="wizardTabThree" data-bs-toggle="pill"
                            data-bs-target="#wizardStepThree" type="button" role="tab" aria-controls="wizardStepThree"
                            aria-selected="false">
                            3
                        </button>
                    </li>
                    <li class="nav-item visited" role="presentation">
                        <button class="nav-link " id="wizardTabFour" data-bs-toggle="pill"
                            data-bs-target="#wizardStepFour" type="button" role="tab" aria-controls="wizardTabFour"
                            aria-selected="false">
                            4
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="wizardTabFive" data-bs-toggle="pill"
                            data-bs-target="#wizardStepFive" type="button" role="tab" aria-controls="wizardTabFive"
                            aria-selected="false">
                            5
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="wizardTabSix" data-bs-toggle="pill"
                            data-bs-target="#wizardTabSix" type="button" role="tab" aria-controls="wizardTabSix"
                            aria-selected="false">
                            6
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="wizard-tabContent">





                    <div class="tab-pane fade active show" id="wizardStepFour" role="tabpanel"
                        aria-labelledby="wizardTabFour">

                        <!-- Card -->

                        <div class="card border-0 py-6 px-md-6">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-body">
                                    <h2 class="text-center mb-0">PatternSourcing</h2>
                                    <p class="text-secondary text-center">Set up notifications and alers frequency</p>

                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="recipientEmail" class="form-label">name_code</label>
                                                {% render_field form.name_code class="form-control" placeholder="name_code" required=true %}
                                            </div>

                                            <div class="col-md-3">
                                                <label for="recipientEmail" class="form-label">address</label>
                                                {% render_field form.address class="form-control" placeholder="address"required=true  %}
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <label for="recipientEmail" class="form-label">city_name</label>
                                                {% render_field form.city_name class="form-control" placeholder="city_name" required=true %}
                                            </div>

                                            <div class="col-md-3">
                                                <label for="recipientEmail" class="form-label">pin</label>
                                                {% render_field form.pin class="form-control" placeholder="Pin" required=true  %}
                                            </div>
                                            <div class="col-md-3">
                                                <label for="recipientEmail" class="form-label">bank_name</label>
                                                {% render_field form.bank_name class="form-control" placeholder="Bank Name" required=true  %}
                                            </div>
                                            <div class="col-md-3">
                                                <label for="recipientEmail" class="form-label">account_number</label>
                                                {% render_field form.account_number class="form-control" placeholder="account_number" required=true  %}
                                            </div>
                                            <div class="col-md-3">
                                                <label for="recipientEmail" class="form-label">ifsc_code</label>
                                                {% render_field form.ifsc_code class="form-control" placeholder="ifsc_code" required=true  %}
                                            </div>
                                            <div class="col-md-3">
                                                <label for="recipientEmail" class="form-label">Bank Passbook</label>
                                                {% render_field form.bank_paasbook class="form-control" placeholder="Bank Passbook" %}
                                            </div>

                                            <div class="col-md-3">
                                                <label for="recipientEmail" class="form-label">Bank Passbook1</label>
                                                {% render_field form.bank_paas1 class="form-control" placeholder="Bank Passbook1"  %}
                                            </div>

                                            <div class="col-md-3">
                                                <label for="recipientEmail" class="form-label">Bank Passbook2</label>
                                                {% render_field form.bank_paas1 class="form-control" placeholder="Bank Passbook2"  %}
                                            </div>
                                            
                                        </div> <!-- / .row -->
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="d-flex justify-content-between">

                                        <!-- Button -->
                                        <a class="btn btn-light" data-toggle="wizard" href="#wizardStepTwo">Previous</a>

                                        <!-- Button -->
                                        <button type="submit" class="btn btn-primary">submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <form method="post" action="" enctype="multipart/form-data">

                        {% comment %} <input type="submit" name="submit" value="Submit"> {% endcomment %}

                        <a href="{% url 'occupation_details' %}" class="btn btn-secondary">Back to Occupation
                            Details</a>

                    </form>
                </div>


        </div>
    </div>
</div> <!-- / .row -->
</div> <!-- / .container-fluid -->



{% endblock %}